<!doctype html>
<html>
<head>
    <title>grid&cloud</title>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="//cdn.jsdelivr.net/gh/mar10/jquery-ui-contextmenu@v1/jquery.ui-contextmenu.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>

<body style="background-color: {{ background_color }};">
<div class="form-group text-center" style="background-color: white; margin: 25%">
    <div class="row">
        <input id="color" type="color" value="{{ background_color }}">Изменить цвет фона</input>
    </div>
    <div class="row" style="margin-top: 3px;">
        <input id="getPassword" type="button" class="input-group-addon col-lg-5 btn" value="Получить пароль">
        <input id="length" type="text" class="form-control col-lg-6" placeholder="Введите длину пароля">
    </div>
    <div class="row">
        <span id="password" class="input-group-addon col-lg-5"
                        style="display: none"></span>
    </div>
</div>
</body>
<script>

    $("#color").on('change', function() {
        payload = {
            'color': $('#color').val().toString()
        };

        $.ajax({
            method: 'POST',
            url: '/color',
            data: JSON.stringify(payload),
            contentType: 'application/json'
        }).done(function(status) {
            if (status === 'SUCCESS') {
                 $("body").css('background-color', $('#color').val());
            }
        });

    });

    $('#getPassword').on('click', function () {

        if (isNaN(parseInt($('#length').val()))) {
            alert('Укажите длину пароля!');
            return;
        }
        $.ajax({
            url: '/password/' + parseInt($('#length').val()),
            method: 'GET'
        }).done(function (password) {
            if (password === '') {
                $('#password').css('display', 'none')
            } else {
                $('#password').html(password);
                $('#password').css('display', 'block')
            }
        });
    });
</script>

</html>

